{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>My Availability - {{ 'site_name'|site_name_filter }}</title>

    <meta name="description" content="Schedulr - Easily schedule meetings">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='schedulr/favicon.ico') }}">

    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="192x192">
    <!-- END Icons -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">

    <!-- Tailwind CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tailwindcss/tailwind.css') }}">

    <!-- END Stylesheets -->
</head>
<body>
{#{% include '/user/includes/mobile.html' ignore missing %}#}
<div class="bg-gray-100" style="height:100vh;overflow-y:hidden;">
    {% with page='availability' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
    <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
        <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
                aria-label="Open sidebar" onclick="OpenSidebar()">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
            </svg>
        </button>
        <div class="flex-1 px-4 flex justify-between">
            <div class="flex-1 flex">
                <div class="w-full flex md:ml-0">
                </div>
            </div>
        </div>
    </div>
    <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none font-w400 mb-5" style="max-height:100%;">
        {{ flash.render() }}
        <div class="max-w-10xl mx-auto px-4 sm:px-6 md:px-8" style="height:80vh;">
            <!-- Replace with your content -->
            <div class="mt-5 grid lg:grid-cols-4 sm:gap-1 lg:gap-5 sm:grid-cols-2 text-right">
                <div class="sm:col-span-2 lg:col-span-3 text-md leading-5 font-medium py-3">
                    <div id="search-results" class="text-gray-500 text-left" style="display:none">Showing results for: '<span
                            id="search-term" class="text-gray-700"></span>'
                    </div>
                </div>
                {#<div class="pull-right sm:col-span-2 lg:col-span-1">
                    <div class="relative inline-block text-left">
                        <div>
                            <span class="rounded-md shadow-sm">
                              <button id="sort-dropdown-button" type="button"
                                      onclick="ShowDropdown('sort-dropdown-menu');"
                                      class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150">
                                Sorted by: {% if s == 'alphabetical' %}Alphabetical
                                  #}{#{% elif s == 'price_lowest' %}Price (Lowest){% elif s == 'price_highest' %}Price (Highest)#}{#{% else %}
                                  Most recent{% endif %}
                                  <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </span>
                        </div>

                        <!--
                          Dropdown panel, show/hide based on dropdown state.

                          Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div id="sort-dropdown-menu"
                             class="origin-top-right absolute right-0 w-56 rounded-md shadow-lg transform opacity-0 scale-95"
                             style="z-index:999; display:none;">
                            <div class="rounded-md bg-white shadow-xs">
                                <div class="py-1">
                                    <a href="{{ url_for('user.sort_products', s='newest') }}"
                                       class="block px-4 py-2 text-sm leading-5 {% if sort == 'newest' or not sort %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Most
                                        Recent</a>
                                    <a href="{{ url_for('user.sort_products', s='alphabetical') }}"
                                       class="block px-4 py-2 text-sm leading-5 {% if sort == 'alphabetical' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Alphabetical</a>
                                    #}{#                                        <a href="#" class="block px-4 py-2 text-sm leading-5 {% if sort == 'price_lowest' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Price (Low -> High)</a>#}{#
                                    #}{#                                        <a href="#" class="block px-4 py-2 text-sm leading-5 {% if sort == 'price_highest' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Price (High -> Low)</a>#}{#
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>

            <div class="grid md:grid-cols-11 sm:gap-2 lg:gap-2 sm:grid-cols-2 lg:grid-cols-11 mb-5">

                <!-- Spacer -->
                <div class="flex flex-col mb-5 col-span-1"></div>

                <div class="flex flex-col mb-5 col-span-2">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div>
                                <h1 class="mb-5 text-xl font-w700 text-gray-900">1. Select a primary calendar</h1>
                                <!-- This example requires Tailwind CSS v2.0+ -->
                                <a href="{{ url_for('user.add_calendar') }}" class="col-span-1">
                                    <div class=" mb-5 w-full flex items-center justify-between p-6 space-x-6 bg-white rounded-lg shadow divide-y divide-gray-200">
                                        <div class="flex-1 truncate">
                                            <div class="flex items-center space-x-3">
                                                <h3 class="text-indigo-600 text-sm font-medium truncate"><i class="fa fa-plus mr-2"></i><u>Connect a new account</u></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <!-- This example requires Tailwind CSS v2.0+ -->
                                <nav class="relative h-full overflow-y-auto border-l border-r border-b" aria-label="Directory" style="max-height:554px;">
                                    {% if accounts %}
                                        {% for account in accounts %}
                                              <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-2 py-4 text-md font-medium text-gray-500">
                                                    <div class="flex items-center space-x-3">
                                                        <img class="mr-3 ml-2 w-5 h-5 bg-gray-300 rounded-full flex-shrink-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/1200px-Google_Calendar_icon_%282020%29.svg.png" alt="">{{ account.account }}
                                                    </div>
                                              </div>
                                              <ul class="relative z-0 divide-y divide-gray-200">
                                              {% for calendar in account.calendars|sort(attribute='name') %}
                                                    <li class="bg-white">
                                                      <div id="" class="relative px-6 py-2 flex items-center space-x-3 hover:bg-gray-50 {#focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500#}">
                                                        <div class="flex-shrink-0">
                                                            <div class="flex items-center h-5">
                                                                <input id="{{ calendar.id }}" {% if calendar.primary %}checked{% endif %} name="calendar-checkbox" data-calendar="{{ calendar.calendar_id }}" data-account="{{ account.id }}" style="z-index:999" type="checkbox"
                                                                       class="cursor-pointer focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                                                                onchange="UpdateAvailability(null, this);">
                                                            </div>
                                                            <label for="{{ calendar.id }}" class="font-medium text-gray-700"></label>
                                                        </div>
                                                        <div class="flex-1 min-w-0">
                                                          <div class="focus:outline-none">
                                                            <!-- Extend touch target to entire panel -->
                                                            <span class="absolute inset-0" aria-hidden="true"></span>
                                                            <p class="text-sm font-medium text-gray-900">
                                                              {{ calendar.name }}
                                                            </p>
                                                            {#<p class="text-sm text-gray-500 truncate">
                                                              Co-Founder / CEO
                                                            </p>#}
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </li>
                                              {% endfor %}
                                              </ul>
                                        {% endfor %}
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mb-4 col-span-5">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div style="width:650px;margin:0 auto; float:none;">
                                <h1 class="mb-5 text-xl font-w700 text-gray-900">2. Choose a date</h1>
                                <div id="calendar"></div>
                                {% include '/user/includes/calendar.html' ignore missing %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mb-5 col-span-2">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div>
                                <h1 class="mb-5 text-xl font-w700 text-gray-900">3. Available times</h1>
                                <div id="picker"></div>
                                {% include '/user/includes/picker.html' ignore missing %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Spacer -->
                <div class="flex flex-col mb-5 col-span-1"></div>

            </div>
            <!-- /End replace -->
        </div>
    </main>
</div>
<!-- jQuery -->
<script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='calendars/availability/js/mark-your-calendar.js') }}"></script>
<script src="{{ url_for('static', filename='calendars/generate.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='calendars/moment.js') }}"></script>

<script>
    function ShowDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
            dropdown.classList.remove('scale-95');
            dropdown.classList.add('opacity-100');
            dropdown.classList.add('scale-100');

            dropdown.style.display = '';
        } else {
            dropdown.classList.remove('opacity-100');
            dropdown.classList.remove('scale-100');
            dropdown.classList.add('opacity-0');
            dropdown.classList.add('scale-95');

            dropdown.style.display = 'none';
        }
    }

    function ShowSuccessMessage() {
        document.getElementById('success-message').style.display = '';
        setTimeout(function () {
            return true
        }, 4000);
    }

    function Reload(){
        location.reload();
    }
</script>

<!-- Pickers -->
<!-- Availability -->
<script>

    let interval = 30;
    let startTime = '8:00';
    let endTime = '18:00';
    let day = new Date();
    let myHours = generateAvailability(startTime, endTime, day, interval, null);

    var instance = $('#picker').markyourcalendar({
        availability: myHours,
        isMultiple: false,
        startDate: day,
        weekdays: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
        onClickNavigator:function(ev, instance) {
             instance.setAvailability(myHours);
             {#let date = instance.getStartDate();
             UpdateAvailability(date);#}
        },
        onClick: function(ev, data) {
            document.getElementById('selected-date-confirm').classList.remove('hidden');
            document.getElementById('selected-date').innerText = FormatDate(new Date(data));
        },
    });

    // Hide the loader when the page loads
    HideLoader();
    // Update the availability based on the preselected calendars
    UpdateAvailability();

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    function FormatDate(date){
        let dt = moment(date).format('YYYY-MM-DD hh:mm:ss Z')
        let d = moment(date).format('MMMM Do YYYY');
        let h = String((date.getHours())).length === 1 ? '0' + date.getHours() : date.getHours();
        let m = String((date.getMinutes())).length === 1 ? '0' + date.getMinutes() : date.getMinutes();
        let t = h + ':' + m;
        let tz = moment(date).format('Z');

        document.getElementById('datetime').value = dt;
        document.getElementById('date').value = d;
        document.getElementById('start-time').value = t;
        document.getElementById('tz-offset').value = tz;
        return moment(date).format('dddd, MMMM Do, YYYY @ h:mm a');
    }

    <!-- FlatPickr -->
    $("#calendar").flatpickr({
        inline: true,
        disable: [
            function (date) {
                return (date < new Date().addDays(-1));
            }
        ],
        onChange: function(selectedDates, dateStr, instance) {
            UpdateAvailability(selectedDates);
        }
    });

    function UpdatePicker(selectedDate, busy=null){
        day = new Date(selectedDate);
        instance.setStartDate(day);

        if (busy !== null){
            let hours = generateAvailability(startTime, endTime, day, interval, busy)

            if (hours.length > 0)
                instance.setAvailability(hours);
        }
        render(instance);
    }

    <!-- Update availability -->
    function UpdateAvailability(selectedDate=null, el=null){

        // Get the checkboxes
        let checkboxes = document.getElementsByName('calendar-checkbox');
        let checked = [];

        // Set the selected calendar's active status
        if (el !== null)
            // Cancel the action if trying to uncheck the only selected calendar
            if ($("input:checkbox[name='calendar-checkbox']:checked").length === 0){
                el.checked = true;
                return false;
            }

            SetPrimaryCalendar(el, checkboxes);

        // Update the instance
        if (selectedDate !== null){
            UpdatePicker(selectedDate);
        }

        let date = instance.getStartDate();
        let tz_offset = instance.getTZOffset();

        for (let i=0; i < checkboxes.length; i++) {
             if (checkboxes[i].checked) {
                 checked.push({'id': checkboxes[i].id, 'account': checkboxes[i].dataset.account });
             }
        }

        $.ajax({
            url: "{{ url_for('user.update_availability') }}",
            type: 'POST',
            data: {'calendar_ids': JSON.stringify(checked), 'user_id': '{{ current_user.id }}', 'date': date, 'tz_offset': tz_offset},
            beforeSend: ShowLoader(),
            success: function (response) {
                if ('success' in response && response['success'] === true && 'busy' in response) {
                    let busy = response['busy'];
                    UpdatePicker(instance.getStartDateCurrentTime(), busy);
                }
            },
            error: function (xhr) {
            }
        });

        // Reload the page
        //Reload();
    }

    function SetPrimaryCalendar(el, checkboxes){
        if (el !== null){
            let primary = el.checked;

            // Unset the other checkboxes
            for (let i = 0; i < checkboxes.length; i++){
                if (checkboxes[i] !== el){
                    checkboxes[i].checked = false;
                }
            }

            // Update the primary calendar in the DB
            $.ajax({
                url: "{{ url_for('user.update_primary_calendar') }}",
                type: 'POST',
                data: {'calendar_id': el.dataset.calendar, 'primary': primary},
                success: function (response) {
                },
                error: function (xhr) {
                }
            });
        }
    }
</script>
</body>
</html>