{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Calendar - {{ 'site_name'|site_name_filter }}</title>

    <meta name="description" content="Schedulr - Easily schedule meetings">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico') }}">

    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../../static/logo/logo.png" sizes="192x192">
    <!-- END Icons -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='table.css') }}">

    <!-- Tailwind CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tailwindcss/tailwind.css') }}">

    <!-- END Stylesheets -->
</head>
<body>
{#{% include '/user/includes/mobile.html' ignore missing %}#}
<div class="bg-gray-100" style="height:100vh;overflow-y:hidden;">
    {% with page='calendar' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
    <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
        <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
                aria-label="Open sidebar" onclick="OpenSidebar()">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
            </svg>
        </button>
        <div class="flex-1 px-4 flex justify-between">
            <div class="flex-1 flex">
                <div class="w-full flex md:ml-0">
                </div>
            </div>
        </div>
    </div>
    <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none font-w400 mb-5" style="max-height:100%;">
        {{ flash.render() }}
        <div class="max-w-10xl mx-auto px-4 sm:px-6 md:px-8" style="height:80vh;">
            <!-- Replace with your content -->
            <div class="mt-5 grid lg:grid-cols-4 sm:gap-1 lg:gap-5 sm:grid-cols-2 text-right">
                <div class="sm:col-span-2 lg:col-span-3 text-md leading-5 font-medium py-3">
                    <div id="search-results" class="text-gray-500 text-left" style="display:none">Showing results for: '<span
                            id="search-term" class="text-gray-700"></span>'
                    </div>
                </div>
                {#<div class="pull-right sm:col-span-2 lg:col-span-1">
                    <div class="relative inline-block text-left">
                        <div>
                            <span class="rounded-md shadow-sm">
                              <button id="sort-dropdown-button" type="button"
                                      onclick="ShowDropdown('sort-dropdown-menu');"
                                      class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150">
                                Sorted by: {% if s == 'alphabetical' %}Alphabetical
                                  #}{#{% elif s == 'price_lowest' %}Price (Lowest){% elif s == 'price_highest' %}Price (Highest)#}{#{% else %}
                                  Most recent{% endif %}
                                  <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                  <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd"/>
                                </svg>
                              </button>
                            </span>
                        </div>

                        <!--
                          Dropdown panel, show/hide based on dropdown state.

                          Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div id="sort-dropdown-menu"
                             class="origin-top-right absolute right-0 w-56 rounded-md shadow-lg transform opacity-0 scale-95"
                             style="z-index:999; display:none;">
                            <div class="rounded-md bg-white shadow-xs">
                                <div class="py-1">
                                    <a href="{{ url_for('user.sort_products', s='newest') }}"
                                       class="block px-4 py-2 text-sm leading-5 {% if sort == 'newest' or not sort %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Most
                                        Recent</a>
                                    <a href="{{ url_for('user.sort_products', s='alphabetical') }}"
                                       class="block px-4 py-2 text-sm leading-5 {% if sort == 'alphabetical' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Alphabetical</a>
                                    #}{#                                        <a href="#" class="block px-4 py-2 text-sm leading-5 {% if sort == 'price_lowest' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Price (Low -> High)</a>#}{#
                                    #}{#                                        <a href="#" class="block px-4 py-2 text-sm leading-5 {% if sort == 'price_highest' %}bg-indigo-100 text-indigo-600{% else %}text-gray-700{% endif %} hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 remove-margin">Price (High -> Low)</a>#}{#
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>

            <div class="grid md:grid-cols-12 sm:gap-2 lg:gap-2 sm:grid-cols-2 lg:grid-cols-12 mb-5">
                <div class="flex flex-col mb-5 col-span-5">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div style="width:650px;margin:0 auto; float:none;">
                                <h1 class="mb-5 text-xl font-w700 text-gray-900">{{ event_type.title | title }}</h1>
                                <div id="calendar"></div>
                                {% include '/user/includes/calendar.html' ignore missing %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mb-5 col-span-2">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div>
                                <h1 class="mb-5 text-xl font-w700 text-gray-900">Available times</h1>
                                <div id="picker"></div>
                                {% include '/user/includes/picker.html' ignore missing %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mb-5 col-span-5">
                    <div class="pl-5 pr-10 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-1 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div id="selected-date-confirm" class="hidden" style="padding:50px 0 0 35px">
                                <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200" style="max-height:650px;">
                                    <div class="px-4 py-5 sm:px-6">
                                        <div>
                                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                {{ event_type.title | title }}
                                            </h3>
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                <i class="fa fa-clock-o mr-2 w-2 h-2"></i>{{ event_type.duration_minutes }} minutes
                                            </p>
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                <i class="fa fa-calendar-check-o mr-2 w-2 h-2"></i><span id="selected-date"></span>
                                            </p>
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                <a class="text-indigo-600" href="{{ url_for('user.events') }}"><u>Choose a different event type</u></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pl-4 pr-4 pb-5">
                                        {% if current_user.is_authenticated %}
                                            {% set name = current_user.name %}
                                            {% set email = current_user.email %}
                                        {% else %}
                                            {% set name = '' %}
                                            {% set email = '' %}
                                        {% endif %}
                                        <form class="space-y-8 divide-y divide-gray-200" method="post" action="{{ url_for('user.confirm_event') }}">
                                          <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                                            <div>
                                              <div class="space-y-6 sm:space-y-5">
                                                <div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:items-start sm:pt-3">
                                                  <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Name<span style="color:red">*</span>
                                                  </label>
                                                  <div class="mt-1 sm:mt-0 sm:col-span-3">
                                                    <input required type="text" name="name" id="name" value="{{ name }}" autocomplete="name" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                  </div>
                                                </div>

                                                <div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-3">
                                                  <label for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Email address<span style="color:red">*</span>
                                                  </label>
                                                  <div class="mt-1 sm:mt-0 sm:col-span-3">
                                                    <input required id="email" name="email" type="email" value="{{ email }}" autocomplete="email" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                                  </div>
                                                </div>

                                                <div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-3">
                                                  <label for="zoom" class="text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Zoom Link<img class="ml-2" src="http://assets.stickpng.com/thumbs/5e8ce318664eae0004085461.png" style="display:inline" width="17px" height="17px" />
                                                  </label>
                                                  <div class="mt-1 sm:mt-0 sm:col-span-3">
                                                    <input id="zoom" name="zoom" type="text" autocomplete="zoom" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                                  </div>
                                                </div>

                                                <div class="sm:grid sm:grid-cols-4 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-3">
                                                  <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                    Notes
                                                  </label>
                                                  <div class="mt-1 sm:mt-0 sm:col-span-3">
                                                    <textarea id="notes" name="notes" rows="6" style="resize:none;" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
                                                    <p class="mt-2 text-sm text-gray-500">Enter any notes for this meeting.</p>
                                                  </div>
                                                </div>
                                                <input required type="hidden" id="datetime" name="datetime" />
                                                <input required type="hidden" id="date" name="date" />
                                                <input required type="hidden" id="start-time" name="start-time" />
                                                <input required type="hidden" id="tz-offset" name="tz-offset" />
                                                <input required type="hidden" id="event-type-id" name="event-type-id" value="{{ event_type.event_type_id }}" />
                                                <input required type="hidden" id="duration-minutes" name="duration-minutes" value="{{ event_type.duration_minutes }}" />
                                              </div>
                                            </div>
                                          </div>

                                          <div class="pt-5">
                                            <div class="flex justify-end">
                                              <button onclick="Reload();" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-full shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                Cancel
                                              </button>
                                              <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-full text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                Confirm meeting
                                              </button>
                                            </div>
                                          </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /End replace -->
        </div>
    </main>
</div>
<!-- jQuery -->
<script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{{ url_for('static', filename='calendars/availability/js/mark-your-calendar.js') }}"></script>
<script src="{{ url_for('static', filename='calendars/generate.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='calendars/moment.js') }}"></script>

<script>
    function ShowDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
            dropdown.classList.remove('scale-95');
            dropdown.classList.add('opacity-100');
            dropdown.classList.add('scale-100');

            dropdown.style.display = '';
        } else {
            dropdown.classList.remove('opacity-100');
            dropdown.classList.remove('scale-100');
            dropdown.classList.add('opacity-0');
            dropdown.classList.add('scale-95');

            dropdown.style.display = 'none';
        }
    }

    function ShowSuccessMessage() {
        document.getElementById('success-message').style.display = '';
        setTimeout(function () {
            return true
        }, 4000);
    }

    function Reload(){
        location.reload();
    }
</script>

<!-- Pickers -->
<!-- Availability -->
<script>
    // Hide the loader when the page loads
    //HideLoader();

    let user_id = '';
    let interval = 30;
    let startTime = '7:00';
    let day = new Date();

    if (!(typeof '{{ event_type.duration_minutes }}' === 'undefined'))
        interval = parseInt('{{ event_type.duration_minutes }}');

    if (!(typeof '{{ event_type.user_id }}' === 'undefined'))
        user_id = parseInt('{{ event_type.user_id }}');

    let myHours = generateAvailability(startTime, day, interval);

    var instance = $('#picker').markyourcalendar({
        availability: myHours,
        isMultiple: false,
        startDate: day,
        weekdays: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
        onClickNavigator:function(ev, instance) {
             instance.setAvailability(myHours);
        },
        onClick: function(ev, data) {
            document.getElementById('selected-date-confirm').classList.remove('hidden');
            document.getElementById('selected-date').innerText = FormatDate(new Date(data));
        },
    });

    // Get the busy times when the page loads.
    if (!(typeof '{{ busy }}' === 'undefined'))
        UpdatePicker(instance.getStartDateCurrentTime(), JSON.parse('{{ busy | tojson }}'));

    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    function FormatDate(date){
        let dt = moment(date).format('YYYY-MM-DD hh:mm:ss Z')
        let d = moment(date).format('MMMM Do YYYY');
        let h = String((date.getHours())).length === 1 ? '0' + date.getHours() : date.getHours();
        let m = String((date.getMinutes())).length === 1 ? '0' + date.getMinutes() : date.getMinutes();
        let t = h + ':' + m;
        let tz = moment(date).format('Z')

        document.getElementById('datetime').value = dt;
        document.getElementById('date').value = d;
        document.getElementById('start-time').value = t;
        document.getElementById('tz-offset').value = tz;
        return moment(date).format('dddd, MMMM Do, YYYY @ h:mm a');
    }

    <!-- FlatPickr -->
    $("#calendar").flatpickr({
        inline: true,
        disable: [
            function (date) {
                return (date < new Date().addDays(-1));
            }
        ],
        onChange: function(selectedDates, dateStr, instance) {
            GetBusyTimes(user_id, selectedDates);
            //UpdatePicker(selectedDates);
        }
    });

    function UpdatePicker(selectedDate, busy=null){
        day = new Date(selectedDate);
        instance.setStartDate(day);

        if (busy !== null){
            let hours = generateAvailability(startTime, day, interval, busy)

            if (hours.length > 0)
                instance.setAvailability(hours);
        }
        render(instance);
    }

    function GetBusyTimes(user_id, selectedDate=null){
        if (selectedDate !== null){
            day = new Date(selectedDate);
            instance.setStartDate(day);
        }

        // Get the busy times
        let date = instance.getStartDate();
        let tz_offset = instance.getTZOffset();

        $.ajax({
            url: "{{ url_for('user.get_busy_times') }}",
            type: 'POST',
            data: {'date': date, 'tz_offset': tz_offset, 'user_id': user_id},
            beforeSend: ShowLoader(),
            success: function (response) {
                if ('success' in response && response['success'] === true && 'busy' in response) {
                    let busy = response['busy'];
                    UpdatePicker(instance.getStartDateCurrentTime(), busy);
                }
            },
            error: function (xhr) {
            }
        });
    }
</script>
</body>
</html>