{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Events - {{ 'site_name'|site_name_filter }}</title>

    <meta name="description" content="Schedulr - Easily schedule meetings">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='schedulr/favicon.ico') }}">

    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="192x192">
    <!-- END Icons -->

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css') }}">

    <!-- Tailwind CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tailwindcss/tailwind.css') }}">

    <!-- END Stylesheets -->
</head>
<body style="overflow-y: hidden;height: 100vh;">
<div style="height:100vh; overflow-y:hidden;">
    {% with page='events' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
    <div class="h-screen flex overflow-hidden bg-gray-100" style="height:93vh;">
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
                <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
                        aria-label="Open sidebar" onclick="OpenSidebar()">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"></path>
                    </svg>
                </button>
                <div class="flex-1 px-4 flex justify-between">
                    <div class="flex-1 flex">
                        <div class="w-full flex md:ml-0">
                            <label for="search_field" class="sr-only">Search</label>
                            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                    {#<svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                            </svg>#}
                                </div>
                                <div id="search_field"
                                     class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none" tabindex="0">
                {{ flash.render() }}
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-10">
                    <form class="space-y-8 divide-y divide-gray-200" method="post" action="{{ url_for('user.save_event_type') }}">
                      <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                        <div>
                          <div>
                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                              Event Type
                            </h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                              Edit this event type
                            </p>
                          </div>

                          <input type="hidden" value="{{ event_type.event_type_id }}" name="event_type_id" id="event_type_id">

                          <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                              <label for="event_name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                Event name <span style="color:red">*</span>
                              </label>
                              <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <input required type="text" name="name" id="name" {% if event_type.title is not none %}value="{{ event_type.title }}"{% endif %} autocomplete="event-name" placeholder="Event name" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                              </div>
                            </div>

                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                              <label for="description" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                Description
                              </label>
                              <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <textarea id="description" name="description" rows="5" class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">{% if event_type.description is not none %}{{ event_type.description }}{% endif %}
                                </textarea>
                                <p class="mt-2 text-sm text-gray-500">Enter a description or instructions for this meeting.</p>
                              </div>
                            </div>

                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                              <label for="duration" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                Duration <span style="color:red">*</span>
                              </label>
                              <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <input required type="number" min="1" name="duration" size="4" width="2" id="duration" placeholder="30" value="{{ event_type.duration_minutes }}" autocomplete="duration" class="mr-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                minutes
                              </div>
                            </div>

                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                              <label for="tag" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                Custom tag <span style="color:red">*</span>
                              </label>
                              <div class="mt-1 sm:mt-0 sm:col-span-2">
                                <input required type="text" {% if event_type.tag %}value="{{ event_type.tag }}" {% else %}value="{{ event_type.event_type_id }}"{% endif %} name="tag" id="tag" placeholder="/30min" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                              </div>
                            </div>

                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                <label for="event_link" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                    Event type calendar link
                                </label>
                                <div class="mt-1 sm:mt-0 sm:col-span-2">
                                    <p class="mt-2 text-sm text-gray-500">https://{{ ''|site_url_filter() }}/calendar/{{ current_user.username }}/<span id="link-tag">{% if event_type.tag %}{{ event_type.tag }}{% else %}{{ event_type.event_type_id }}{% endif %}</span></p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="pt-5">
                        <div class="flex justify-end">
                          <button type="button" onclick="ReturnToEvents()" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Cancel
                          </button>
                          <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Save
                          </button>
                        </div>
                      </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- END Page Container -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js') }}"></script>


<script>
    function ShowDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
            dropdown.classList.remove('scale-95');
            dropdown.classList.add('opacity-100');
            dropdown.classList.add('scale-100');

            dropdown.style.display = '';
        } else {
            dropdown.classList.remove('opacity-100');
            dropdown.classList.remove('scale-100');
            dropdown.classList.add('opacity-0');
            dropdown.classList.add('scale-95');

            dropdown.style.display = 'none';
        }
    }

    function SwitchPlan(val) {
        var options = document.getElementsByClassName('plans');
        for (var i = 0; i < options.length; i++) {
            options[i].classList.remove('border-indigo-500');
            options[i].classList.add('border-transparent');
        }

        document.getElementById(val.id + '_border').classList.add('border-indigo-500');
    }

    function ReturnToEvents(){
        window.location.href = '{{ url_for('user.events') }}';
    }

    document.getElementById("tag").addEventListener("input", function(){
        document.getElementById("tag").value = document.getElementById("tag").value.toLowerCase().replace(/[^0-9a-z]+/g, '-');
        let str = document.getElementById("tag").value.toLowerCase().replace(/[^0-9a-z]+/g, '-');
        if (str.endsWith('-')){
            str = str.substring(0, str.length - 1);
        }

        document.getElementById("link-tag").innerText = str;
    });

</script>
<script>
    var body = document.getElementsByTagName("body")[0];
    var except = document.getElementById('user-dropdown-menu');

    body.addEventListener("click", function () {
        except.classList.remove('opacity-100');
        except.classList.remove('scale-100');
        except.classList.add('opacity-0');
        except.classList.add('scale-95');

        except.style.display = 'none';
    }, false);
    document.getElementById('user-menu').addEventListener("click", function (ev) {
        ev.stopPropagation(); //this is important! If removed, you'll get both alerts
    }, false);
</script>
</body>
</html>
