{% import 'macros/flash.html' as flash with context %}
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Events - {{ 'site_name'|site_name_filter }}</title>

    <meta name="description" content="Schedulr - Easily schedule meetings">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='schedulr/favicon.ico') }}">

    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../../static/schedulr/logo.png" sizes="192x192">
    <!-- END Icons -->

    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='icons/styles.css') }}">

    <!-- Tailwind CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tailwindcss/tailwind.css') }}">

    <!-- END Stylesheets -->
</head>
<body style="overflow-y: hidden;height: 100vh;">
<div style="height:100vh; overflow-y:hidden;">
    {% with page='events' %}{% include '/user/includes/main_header.html' ignore missing %}{% endwith %}
    <div class="h-screen flex overflow-hidden bg-gray-100" style="height:93vh;">
        <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
                <button class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
                        aria-label="Open sidebar" onclick="OpenSidebar()">
                    <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"></path>
                    </svg>
                </button>
                <div class="flex-1 px-4 flex justify-between">
                    <div class="flex-1 flex">
                        <div class="w-full flex md:ml-0">
                            <label for="search_field" class="sr-only">Search</label>
                            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                    {#<svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
                            </svg>#}
                                </div>
                                <div id="search_field"
                                     class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 sm:text-sm"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <main class="flex-1 relative z-0 overflow-y-auto pb-6 focus:outline-none" tabindex="0">
                {{ flash.render() }}
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-10">
                    <div class="grid md:grid-cols-1 sm:gap-4 lg:gap-6 sm:grid-cols-1 lg:grid-cols-1 mb-5">
                        <div class="col-span-1">
                            <div class="full">
                                <span class="text-lg mb-1 mr-3 mt-10 text-gray-700" style="font-size: 24px;">Event Types</span><br />
                                <span><a href="{{ url_for('user.create_event_type') }}" class="text-indigo-600 -underline">Create a new event type</a></span>
                            </div>
                            <fieldset class="pt-4 w-full">
                                <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                                    {% if event_types|length > 0 %}
                                        {% for event in event_types %}
                                            {% set color = 'green' if event.active else 'gray' %}
                                            {% set type_id = event.event_type_id %}
                                              <li id="item-{{ type_id }}" class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
                                                <a href="{{ url_for('user.events', event_type_id=type_id ) }}" class="w-full flex items-center justify-between p-6 space-x-6">
                                                  <div class="flex-1 truncate">
                                                    <div class="flex items-center space-x-3">
                                                        <h3 id="title-{{ type_id }}" class="text-gray-700 text-xl truncate">{{ event.title }}</h3>
                                                        <span class=" text-{{ color }}-800 bg-{{ color }}-100 flex-shrink-0 inline-block px-2 py-0.5 text-xs font-medium rounded-full">
                                                            {% if event.active %}Active{% else %}Inactive{% endif %}
                                                        </span>
                                                    </div>
                                                      <p class="text-gray-500 text-sm"><i class="fa fa-clock-o mr-2 w-2 h-2"></i><span id="duration-minutes-{{ type_id }}">{{ event.duration_minutes }}</span> minutes</p>
                                                      <p class="mt-1 text-gray-500 text-sm truncate"><span id="description-{{ type_id }}">{{ event.description }}</span></p>
                                                  </div>
                                                    <span class="inline-flex items-center justify-center h-12 w-12 rounded-full bg-gray-300">
                                                          <span class="text-sm font-medium leading-none text-white">{{ event.duration_minutes }}</span>
                                                    </span>
                                                </a>
                                                <div>
                                                  <div class="-mt-px flex divide-x divide-gray-200">
                                                    <div class="w-0 flex-1 flex">
                                                        {% if event.tag and current_user.username %}
                                                            {% set url = url_for('user.calendar', username=current_user.username, tag=event.tag) %}
                                                        {% else %}
                                                            {% set url = url_for('user.calendar', event_id=type_id) %}
                                                        {% endif %}
                                                      <a id="edit-{{ type_id }}" href="{{ url }}" target="_blank" class="cursor-pointer relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-indigo-600 font-medium border border-transparent rounded-bl-lg hover:text-indigo-500">
                                                        <i id="edit-icon-{{ type_id }}" class="fa fa-external-link"></i>
                                                        <span id="edit-text-{{ type_id }}" class="ml-3">View live calendar</span>
                                                      </a>
                                                    </div>
                                                    <div class="-ml-px w-0 flex-1 flex">
                                                      <a id="delete-{{ type_id }}" href="#" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-indigo-700 font-medium border border-transparent rounded-br-lg hover:text-indigo-500">
                                                        <i id="delete-icon-{{ type_id }}" class="fa fa-trash-o" style="color:red"></i>
                                                        <span id="delete-text-{{ type_id }}" class="ml-3" style="color:red">Delete</span>
                                                      </a>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                        {% endfor %}
                                    {% endif %}
                                        <li id="create-new" style="display:none" class="col-span-1 bg-white p-10 rounded-lg shadow divide-y divide-gray-200 text-center items-center justify-center text-indigo-600 hover:text-indigo-500">
                                            <a href="{{ url_for('user.create_event_type') }}" class="">
                                                <i class="fa fa-plus fa-3x block pt-5"></i>Create new
                                            </a>
                                        </li>
                                    </ul>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<!-- END Page Container -->
<!-- jQuery -->
<script src="{{ url_for('static', filename='oneui/assets/js/core/jquery.min.js') }}"></script>


<script>
    function ShowDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
            dropdown.classList.remove('scale-95');
            dropdown.classList.add('opacity-100');
            dropdown.classList.add('scale-100');

            dropdown.style.display = '';
        } else {
            dropdown.classList.remove('opacity-100');
            dropdown.classList.remove('scale-100');
            dropdown.classList.add('opacity-0');
            dropdown.classList.add('scale-95');

            dropdown.style.display = 'none';
        }
    }

    function SwitchPlan(val) {
        var options = document.getElementsByClassName('plans');
        for (var i = 0; i < options.length; i++) {
            options[i].classList.remove('border-indigo-500');
            options[i].classList.add('border-transparent');
        }

        document.getElementById(val.id + '_border').classList.add('border-indigo-500');
    }

    function UpdateEventType(type_id, el){

        // Get the original block, in case they hit cancel
        let block = document.createElement('li');
        block.innerHTML = document.getElementById('item-' + type_id).innerHTML;

        // Get the elements that will change
        let title = document.getElementById('title-' + type_id);
        let title_text = document.getElementById('title-' + type_id).innerText;
        let description = document.getElementById('description-' + type_id);
        let description_text = document.getElementById('description-' + type_id).innerText;
        let duration = document.getElementById('duration-minutes-' + type_id);
        let duration_text = document.getElementById('duration-minutes-' + type_id).innerText;
        let edit_button = document.getElementById('edit-' + type_id);
        let delete_button = document.getElementById('delete-' + type_id);

        // Change the edit and delete buttons
        document.getElementById('edit-text-' + type_id).innerText = 'Save';
        document.getElementById('edit-icon-' + type_id).classList.remove('fa-pencil');

        document.getElementById('delete-text-' + type_id).innerText = 'Cancel';
        document.getElementById('delete-icon-' + type_id).classList.remove('fa-trash-o');
        delete_button.onclick = function(){ CancelEventTypeUpdate(type_id, block) };

        // Change the elements
        title.innerHTML = '<input type="text" name="first_name" id="first_name"' +
            ' autocomplete="given-name" value="' + title_text + '" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500' +
            ' sm:max-w-xs sm:text-sm border-gray-300 rounded-md">'

        description.innerHTML = '<div class="mt-1"><textarea id="about" name="about" rows="3" ' +
            'class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300' +
            ' rounded-md">' + description_text + '</textarea></div>'

        duration.innerHTML = '<div class="mt-1 ml-1 inline-block"> <input type="text" name="first_name" id="first_name"' +
            ' autocomplete="given-name" size="4" value="' + duration_text + '" class="mr-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500' +
            ' sm:max-w-xs sm:text-sm border-gray-300 rounded-md"></div>'
    }

    function CancelEventTypeUpdate(type_id, block){
        document.getElementById('item-' + type_id).innerHTML = block.innerHTML;
    }

    {#function ActivateSync(sync_id, shop_id, activate, el){
        var url = "";
        $.ajax({
            url: url,
            type: 'POST',
            data: {'sync_id': sync_id, 'shop_id': shop_id, 'activate':activate},
            success: function (response) {
                if ('success' in response){
                    el.innerText = "Activated";
                    el.classList.remove('bg-indigo-600');
                    el.classList.remove('hover:bg-indigo-500');
                    el.classList.add('hover:bg-green-500');
                    el.classList.add('bg-green-600');
                    el.removeAttribute("onclick");
                    location.reload();
                }
            },
            error: function (xhr) {
            }
        });
    }#}

</script>
<script>
    var body = document.getElementsByTagName("body")[0];
    var except = document.getElementById('user-dropdown-menu');

    body.addEventListener("click", function () {
        except.classList.remove('opacity-100');
        except.classList.remove('scale-100');
        except.classList.add('opacity-0');
        except.classList.add('scale-95');

        except.style.display = 'none';
    }, false);
    document.getElementById('user-menu').addEventListener("click", function (ev) {
        ev.stopPropagation(); //this is important! If removed, you'll get both alerts
    }, false);
</script>
</body>
</html>
